@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

a{
  color: var(--tg-theme-link-color);
}

button {
  color: var(--tg-theme-button-text-color);
}

.mainImageContainer {
  margin-top: -90px;
}

.textOverlay {
  position: absolute;
  left: 15px;
  top: 60px;
  padding: 10px;
  border-radius: 3px;
}

.textOverlay h1 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}

.textOverlay p {
  display: block;
  margin-top: 5px;
}


.custom-tabbar {
  height: 68px;
  background:var(--tg-theme-bg-color) !important;
}
